* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: black;
    padding: 50px;
}

h1 {
    color: #b9954A;
}

img {
    width: 50%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#backBtn {
    background-color: #b9954A;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    width: 50%;
}

#backBtn:hover {
    background-color: black;
    transition: 0.5s;
    color: #b9954A;
    border: 1px solid white;
}